

@media (max-width:740px)  {
    .div_course_news{

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .div_course{
    width: 40%;
}

.div_teacher_about{

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.div_teacher{
    width: 50%;
    }

.navigation{
    display: none;
}


.burger{
    display: block;
    margin-left: 450px;
}

.activeNavigation{
    display: block;
    flex-direction: column;
}

.navigation ul{
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 105px;
    width: 300px;
    height: 300px;
    
}

.nav_li{
    margin-top: 15px;
}

.section_contaqt{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_info{
    width: 70%;
}


.about_Page_textconteiner{
    flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;



}
.div_about_cover{
    width: 740px;
}

.ul_list{

    flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
}

}





@media (max-width:440px)  {
    .div_course_news{

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .div_course{
    width: 80%;
}

.div_teacher_about{

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div_teacher{
width: 50%;
}

.navigation{
    display: none;
}

.burger{
    display: block;
}

}