
@media (max-width:768px)  {
    .div_course_news{

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .div_course{
    width: 50%;
}
#ul_list {
    flex-direction: column;
    align-items: center;
    
   

}
.div_course_image{
    width: 210px;

}

.coverPhotoTexts{
    top:200px;
    left: 250px;

}
#slider{
    width: 50%;
    height: 65vh;
    position: relative;
    margin: 0 auto;
    margin-top: 105px;
    border-radius: 20px;
    z-index: -1;
}


.caver_photo {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image_aboutPage_cover {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}



.div_teacher_about{

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div_teacher{
    width: 50%;
    }

.navigation{
    display: none;
}


.burger{
    display: block;
    margin-left: 450px;
}

.activeNavigation{
    display: block;
    flex-direction: column;
}

.navigation ul{
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 105px;
    width: 300px;
    height: 300px;
    background-color: aliceblue;
    opacity: 0.5;
    
}

.nav_li{
    margin-top: 15px;
}

.section_contaqt{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_info{
    width: 70%;
}


.about_Page_textconteiner{
    flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;



}
.div_about_cover{
    width: 740px;
}



.ul_list {
    flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;}

.ul_list  div{
           width: 30%;
        
        
        }


        .videoclas{
           padding: 30px;
           margin: 0 auto;
           width: 690px;
        }

  .footer_div {
    margin: 0 auto;
 
  }




 .div_frame{
    margin: 0 auto;
width:600px;
padding-bottom:  20px;
}
}






@media (max-width:428px)  {
    .div_course_news{

        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }


    .div_course{
    width: 80%;
}

.div_teacher_about{

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div_teacher{
width: 50%;
}

.navigation{
    display: none;
}




.burger{
    display: block;
    margin-left: 150px;
}

.activeNavigation{
    display: block;
    flex-direction: column;
}

.navigation ul{
    flex-direction: column;
    position: absolute;
    left: 5px;
    top: 30px;
    width: 100px;
    height: 100px;
    
}




.caver_photo {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image_aboutPage_cover {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}



.footer_div {
    margin: 0 auto;
    font-size: 10px;
    width: 300px;
    margin-top: 20px;
 
  }

 


 .div_frame{
    margin: 0 auto;
width:400px;
padding-bottom:  20px;
}
.SendMessige{
    width: 200px;
}

.videoclas{
    padding: 10px;
    margin: 0 auto;
    width: 400px;
 }


 .image_aboutPage_cover {
    max-width: 55%;
    height: auto;
    object-fit: cover;
}

}