

.titleSize{
    font-size: 35px;
    font-weight: 600;
    color: rgb(163, 10, 168);
    padding-top: 50px;
   
}

.textSize{
    font-size: 25px;
}

.titleSizeMedium{
font-weight: 40px;
font-size: 30px;
}

.header_logo{
    width:100px;
}


body{
    font-family: "Roboto", serif;
    /* font-family: 'ALK Life'; */
    color: rgb(239, 235, 243);
}



/* heder styles */
header{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(230, 124, 221);
    color: aliceblue;
}


.navigation ul {
    display:  flex;
    }

.nav_li{
    margin-left: 50px;  
   }

.headerA{
    text-decoration: none;
    
}

.headerA:hover{
   font-size: 40px;
  
}




.caver-photo {
 
    width:100%;
    height: 650px;
    margin-top: 110px;
    object-fit: cover;
    position: relative;
    z-index: -1;
}



.coverPhotoTexts{
    color: aliceblue;
    position: absolute;
    font-size: 50px;
    top: 30%;
    left: 16%;
    transform: translate(-50%,-50%);
    z-index: -1;
}


/* courses divs */
.div_course{
    max-width:  320px;
    color: aliceblue;
    padding: 20px;
    background-color:rgb(168, 92, 179);
    border : 2px solid silver;
    border-radius: 30px;
}

.div_course_news {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}

.div_course_image{
    max-width: 300px;
    opacity: 1.0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  
  .div_course_image:hover {
    opacity: 0.5;
  }



/* div about teachers */

.div_teacher_about{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    color: aliceblue;

} 
.div_teacher{
    width: 320px;
    color: rgb(163, 10, 168);
    padding: 20px;
    border : 2px solid silver;
    border-radius: 30px;
}


.div_course{
    padding: 40px;
}





 
/* burger meniu */

 .burger{
    color: rgb(8, 8, 8);
    font-size: 30px;
    position: relative;
    display: none;
  }

  

.fa-bars, .fa-times{
    position: absolute;
    right:10px;
    }
    
   
    

/* footer div */
footer{
    height: 200px;
    width: 100%;
    background-color: rgb(240, 133, 231)

}

  .footer_div{
    margin-top: 100px;
    padding: 25px;
    height: 150px;
    background-color: rgb(240, 133, 231);
    margin-left:35%
  
    
  
   

    
  }

  
   


.fa-solid .fa-regular .fa-solid
{
    color: black;
    background-color: black;
}






  /* contact */

  .section_contaqt{ 
    display: flex;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
    
   
}

.contact_info{
    margin-top: 200px;
    width: 500px;
    height: 400px;
     border: 5px solid silver; 
background-color: rgb(240, 152, 225);
color: black;
font-size: 20px;

}




.contact_info li {
    margin-top: 30px;


}


.formsize{
    font-size: 20px;
    margin-bottom: 30px;
    border-radius: 20px;

}

.SendMessige{
    font-size: 40px;
    border-radius: 20px;

}

.button_messige{
    margin-top: 30px;
    border: none;
}





/* about-page-kursdamtavrebulebi */
  .conteiner{
    margin-top: 300px;
    
  }


  .conteiner_user ul{
    display: flex;
    justify-content: center;

  }


  .conteiner_user li{
     margin-top: 150px;
     font-size: 25px;
    color: rgb(180, 31, 160);
    margin-left: 20px;
    padding: 30px;
  }

  .conteiner_user img{
    opacity: 1;
  width: 200px;
  border-radius: 20px;
  margin-left: 20px;
  } 


  .image_aboutPage_cover{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    border-radius: 30px;
    object-fit: cover;
    opacity: 1;
    
  }
  .conteiner_user img:hover{
    opacity: 0.5;
  }

.loadnext, .loadprev{

 font-size: 30px; 
 width: 160px;
 background-color:rgb(221, 142, 228);
   margin-top: 80px;
   border-radius: 20px;
   margin-left: 20px;
   display: block;
   color: aliceblue;
   border: none;
   padding: 20px;
 
}

.conteinerLeftRight{
    display: flex;
    justify-content: center;
   
}

 /* about  -ის კურსების ბლოკი */

.about_Page_textconteiner , .about_Page_box p{
    font-size: 20px;
color: rgb(65, 62, 62);
    display: flex;
    justify-content: center;
    margin:20px;
  
}

.about_Page_box:hover{
    font-size: 25px;
}

.about_Page_box {
    background-color: rgb(221, 142, 228);
    margin-left: 20px;
    border: 1 solid rgb(37, 35, 35);
    border-radius: 10px;
    padding: 10px;
}

.about_Page_box b{
    color:black
}

.course_about{
    padding: 80px;
}

.student_peedback{
    font-size: 30px;
    color: rgb(190, 35, 131);
    margin:50px;
}





/* //about page -accordion  */
.accordion{
    
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}


.Wraper-body {
    background-color: rgb(224, 85, 224);
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.accordion-conteiner{
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
}

.fontColor{
    color: rgb(226, 232, 235);
}

.fontSize {
    font-size: 25px;

}


.accordion-title{
    position: relative;
    padding: 30px 0;
    cursor: pointer;
}

.accordion-title::before{
    content: " +";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right:20px;
    font-size: 25px;
}
.accordion h2 {
    font-size: 40px;
    padding-top: 80px;
    padding-bottom: 30px;


}

.last{
    padding-bottom: 80px;
}

.accordion-description {
    width: 100%;
    font-size: 16px;
    padding: 0px;
    height: 0px;
    overflow: hidden;
}


.line{
    width: 100%;
    height: 0.5px;
    background-color: aliceblue;

}

.accordion-conteiner.active .accordion-description{
    height: 200px;
    padding: 10px;
    font-size: 25px;

}

.accordion-conteiner.active .accordion-title::before{
content:  "-";
font-size: 50px;
}


/* სლიდერ */
#slider{
    width: 50%;
    height: 50vh;
    position: relative;
    margin: 0 auto;
  top: 103px;
  z-index: -1;    
}


.arrow{
    position: absolute;
    top: 65%;
    transform: translateY(-70%);
    width: 50px;
    height: 50px;
    background-color: rgb(224, 85, 224);
    border-radius: 20%;
    color: aliceblue;
    cursor: pointer;
    border: none;
    font-size: 15px;
    z-index: 2;
}

.arrow-left{
    left:900px;
}
.arrow-right{
    right: 900px;
}

.arrow:hover{
    border:  2px solid white;
}

.slider-title{
position: absolute;
top: 10%;
left: 30%;
font-size: 3rem;
letter-spacing: 0.15rem;
color: beige;
padding: 20px 70px;
text-align: center;

}



.dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(15, 15, 15);
    margin: 5px;
    opacity: 40%
    
}

.dot.active{
    background-color: aliceblue;
    
}


.dots{
    display: flex;
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    cursor: pointer;
    
}



.registration-course-button{
    border: none;
    background-color: rgb(245, 243, 244);
    margin-top: 25px;
    border-radius: 20px;
    font-size: 25px;

}

.registration-form{
   display: none;
   position: relative;    
    font-size: 25px;
    color: black;
   
  
    
    
}

.activeRF {
    display: block;
    position: absolute; 
    transform: translate(-50%,-50%);
    top: 1500px;
    left: 50%;
    background-color: rgb(250, 250, 250);
    width: 800px;
   
    
}

/* .activeClose{
    width: 200px;
    height: 200px;
    background-color: blue;
    top: 1200px;
    transform: translate(-50%,-50%);
    top: 1500px;
    left: 50%;
    position: absolute;

}  */

.courseAboutActivi{
    opacity: 0.2;
}

.inputSize{
    margin-top:40px;
    margin-left: 150px;
    font-size: 25px;
    color: black;
    
}

#sendButon{
  font-size: 30px;
   margin-top: 45px;
  margin-left: 140px;
  margin-bottom: 25px;
  background-color: rgb(231, 22, 203);

}


.contact_info{
    padding: 50px;
}

.footertextColor{
    color: blueviolet;
    
  
}

.errorText{
    color: red;
    font-size: 15px;

}

.errorTextRadio{
    margin-left: 450px;
}