.header_logo{
    width:100px;
}

header{
    width:100%;
     display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(230, 124, 221);
    font-size: 25px;
    color: aliceblue;
}


.navigation ul {
    display:  flex;
    }

.nav_li{
    margin-right: 30px;  
   }


a{
    text-decoration: none;
}



body{
    height: 15000px;
    font-family: 'ALK Life';
    color: rgb(239, 235, 243);
}

.caver_photo {
 
    width: 100%;
    height: 650px;
    margin-top: 100px;
    object-fit: cover;
    position: relative;
}



.p_caver_photo{
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
}


.div_course{
    width: 350px;
    color: aliceblue;

    padding: 20px;
    background-color:rgb(168, 92, 179);
}

.div_course_news {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
}


/* h2{
    margin-top: 30px;
    color: white;
} */

h3{
    color: blueviolet;
    margin-top: 30px;
}


.div_teacher_about{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;

} 
.div_teacher{
    width: 350px;
    color: aliceblue;

    padding: 20px;
    background-color:rgb(168, 92, 179);

}

.course_about
{
    color: white;
}